[submodule "node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.9/node_modules/@layerzerolabs/toolbox-foundry/lib/openzeppelin-contracts"]
	path = node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.9/node_modules/@layerzerolabs/toolbox-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/LayerZero-v1"]
	path = lib/LayerZero-v1
	url = https://github.com/LayerZero-Labs/LayerZero-v1
[submodule "lib/LayerZero-v2"]
	path = lib/LayerZero-v2
	url = https://github.com/LayerZero-Labs/LayerZero-v2
[submodule "lib/devtools"]
	path = lib/devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
